<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journeyOS.core">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".daemon.AliveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnePixelTheme">
            <intent-filter>
                <action android:name="com.journeyOS.core.daemon.keep_alive" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
