<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.journeyOS.plugins">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".SelectorActivity"
            android:excludeFromRecents="true"
            android:theme="@style/settings">
            <intent-filter>
                <action android:name="com.journeyOS.plugins.SELECTOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".search.SearchActivity"
            android:excludeFromRecents="true"
            android:theme="@style/settings">
            <intent-filter>
                <action android:name="com.journeyOS.plugins.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LearnActivity"
            android:excludeFromRecents="true"
            android:theme="@style/settings">
            <intent-filter>
                <action android:name="com.journeyOS.plugins.LEARN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
