<?xml version="1.0" encoding="utf-8"?><!--
  Copyright (c) 2019 anqi.huang@outlook.com

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.journeyOS.edge">

    <!--悬浮权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <!--读写文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--开机广播-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".EdgeApplication"
        android:icon="@drawable/svg_core_ball"
        android:label="@string/app_name"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl,android:name">

        <activity
            android:name=".ui.activity.EdgeActivity"
            android:theme="@style/base_AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ContainerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/base_AppTheme" />

        <activity
            android:name=".ui.activity.ContainerWithMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/base_AppTheme" />

        <activity
            android:name="com.android.fbi.ad.EmptyActivity"
            android:excludeFromRecents="true"
            android:theme="@style/OnePixelTheme">
            <intent-filter>
                <action android:name="com.android.fbi.ad.showing" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".EdgeService"
            android:enabled="true"
            android:exported="true"
            android:priority="1000">
            <intent-filter>
                <action android:name="com.journeyOS.edge.action.EdgeService" />
            </intent-filter>
        </service>

        <service
            android:name=".QuickSettingService"
            android:icon="@drawable/svg_core_ball_disable"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


    </application>

</manifest>